Work
Work/*
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/calendar/data.json
.obsidian/plugins/dataview/data.json
.obsidian/plugins/obsidian-excalidraw-plugin/data.json
.obsidian/plugins/obsidian-full-calendar/data.json
